assemblee/
03-10-2022 - Assemblea Matricole
2022-10-18 - Plenaria verbalino-tattico-e-meritevole
2022-11-17 Paritetica Didattica
2022-12-14 Soci-RIASISSU
2023-02-03_plenaria_ordinaria
Plenaria-Straordinaria-Anti-Condello con-condello
assemblea-plenaria
appunti
verbale-assemblea-plenaria
