content/notes/assemblee/
content/notes/03-10-2022 - Assemblea Matricole
content/notes/2022-10-18 - Plenaria verbalino-tattico-e-meritevole
content/notes/2022-11-17 Paritetica Didattica
content/notes/2022-12-14 Soci-RIASISSU
content/notes/2023-02-03_plenaria_ordinaria
content/notes/Plenaria-Straordinaria-Anti-Condello con-condello
content/notes/assemblea-plenaria
content/notes/appunti
content/notes/verbale-assemblea-plenaria
public/
